[Unit]
Description=cavpn manager
After=network.target
StartLimitIntervalSec=0

[Service]
User=cavpn-manager
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
EnvironmentFile=/etc/default/cavpn-manager
ExecStart=/usr/local/bin/cavpn-manager
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
